@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
body {
  background-color: #000;
  color: #fff;
  margin: auto;
  padding: 0.75rem 0;
  overflow: hidden;
}
.mainDiv {
  display: inline;
}
.navBar {
  height: 1.5rem;
  /* background-color: #fff; */
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.leftNav {
  padding: 0.25rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  img {
    width: 2.25rem;
    height: 2.25rem;
  }
  i {
    font-size: larger;
    padding: 0.75rem;
    background-color: #121212;
    border-radius: 50%;
  }
  input {
    background-color: #121212;
    font-weight: 400;
    font-size: medium;
    color: #fff;
    width: 450px;
    border: none;
    border-radius: 1.5rem;
    padding: 0.5rem;
    padding: 1rem;
  }
}
.rightNav {
  /* width: 50%; */
  display: flex;
  gap: 1.75rem;
  justify-content: space-between;
  align-items: center;
  a {
    text-decoration: none;
    color: #fff;
  }
  button {
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
  }
  .installAnchor {
    font-size: smaller;
    font-weight: 500;
    opacity: 70%;
  }
  .userLogin {
    background-color: #121212;
    border-radius: 50%;
    padding: 1rem 0.5rem;

    span {
      border-radius: 50%;
      background-color: palevioletred;
      font-weight: 700;
      color: #000;
      padding: 0.5rem 0.75rem;
    }
  }
}
